@font-face {
        font-family: 'Tatania';
        src: url("../../../fonts/Titania.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$sans-serif: 'Tatania', sans-serif;
$cursive: 'Sofia', cursive;
$serif: 'Crimson Pro', serif;
