.black {
  color: #40303C;
}
.beige {
  color: #F2EFE9;
}
.red {
  color: #D93D59;
}
.blue {
  color: #A7C0F2;
}
.pink {
  color: #F2CED8;
}
.green {
  color: #3FB376;
}
.yellow {
  color: #F2D64B;
}
