<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Adélaïde Laanatri</title>
    <link rel="stylesheet" href="assets/css/graphics.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!--NAVBAR-->
    <nav class="container-fluid">
        <div class="navBar">
            <a href="index.php?#graphics" class="retour">
                <p class="textRetour">retour</p>
            </a>
        </div>
    </nav>
    <!--FIN NAVBAR-->
    <main>
        <!--TITRE-->
        <div class="container titreGraphics">
            <div class="row">
                <img src="assets/images/image-graphics/graphics.png" alt="">
            </div>
        </div>
        <!--FIN TITRE-->
        <!--GALLERY-->
        <div class="container">
            <div class="row galleryDiv">
                <div class="col-lg-3 titre">
                    <h1>Graphics1 <br> VECTORIELS</h1>
                    <div class="hr"></div>
                    <div class=" gallery d-flex">
                        <div class="row flex-column pat">
                            <img class="petite" data-img="assets/images/image-graphics/brad-fight-club-image-graphics.jpg" onclick="magieImg($(this))" src="assets/images/image-graphics/petites/fightClubMiniature.png" alt="">
                            <img class="petite" data-img="assets/images/image-graphics/sulli-image-graphics.jpg" onclick="magieImg($(this))" src="assets/images/image-graphics/petites/sulliMiniature.png" alt="">
                        </div>
                        <div class="row flex-column 2eme">
                            <img class="petite" data-img="assets/images/image-graphics/flat-patisserie-image-graphics.jpg" onclick="magieImg($(this))" src="assets/images/image-graphics/petites/patisserieFlatMiniature.png" alt="">
                            <img class="petite" data-img="assets/images/image-graphics/patisserie-1-image-graphics.jpg" onclick="magieImg($(this))" src="assets/images/image-graphics/petites/Pat1Miniature.png" alt="">
                            <img class="petite" data-img="assets/images/image-graphics/patisserie-2-image-graphics.jpg" onclick="magieImg($(this))" src="assets/images/image-graphics/petites/Pat2Miniature.png" alt="">
                        </div>
                        <div class="row flex-column 3eme">
                            <img class="petite" data-img="assets/images/image-graphics/squirrel-online-image-graphics.jpg" onclick="magieImg($(this))" src="assets/images/image-graphics/petites/squirellMiniature.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 content">
                    <div class="row image justify-content-center">
                        <div class="fieldImage">
                            <img class="grande" id="grande" src="assets/images/image-graphics/brad-fight-club-image-graphics.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FIN GALLERY-->
        <!--GALLERY 2-->
        <div class="container" id="pictos">
            <div class="row flex-row-reverse galleryDiv">

                <div class="col-lg-3 titre2">
                    <h1>Graphics2 <br> PICTOS</h1>
                    <div class="hr"></div>
                    <div class="container gallery d-flex">
                        <div class="row flex-column pat">
                            <img class="petite" data-img="assets/images/image-pictos/suites-images-pictos.png" onclick="magieImg2($(this))" src="assets/images/image-graphics/petites/suitesMiniature.png" alt="">
                        </div>
                        <div class="row flex-column 2eme">
                            <img class="petite" data-img="assets/images/image-pictos/welina-image-pictos.jpg" onclick="magieImg2($(this))" src="assets/images/image-graphics/petites/welinaMiniature.png" alt="">
                        </div>
                        <div class="row flex-column 3eme">
                            <img class="petite" data-img="assets/images/image-pictos/atre-images-pictos.png" onclick="magieImg2($(this))" src="assets/images/image-graphics/petites/dauphinoisMiniature.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 content">

                    <div class="row image justify-content-center">
                        <img class="grande" id="grande2" src="assets/images/image-pictos/suites-images-pictos.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--FIN GALLERY 2-->
        <footer class="d-flex justify-content-center align-items-center">
            <p>Portfolio créé par Adélaïde Laanatri -&nbsp;</p>
            <a href="https://fr.linkedin.com/in/ad%C3%A9la%C3%AFde-laanatri" target="_blank">Linkedin</a>
            <p class="pf">&nbsp;&nbsp;&nbsp;</p>
            <a href="https://dribbble.com/Adelaide_Laanatri" target="_blank">Dribble</a>
            <p class="pf">&nbsp;&nbsp;&nbsp;</p>
            <a href="https://www.pinterest.fr/adelaidelaanatri/" target="_blank">Pinterest</a>
        </footer>
    </main>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script>
    ////////// retour

    // $(window).scroll(function() {
    //     if ($(this).scrollTop() > 20) {
    //         $('.retour').addClass('retourOnSroll');
    //     } else {
    //         $('.retour').removeClass('retourOnSroll');
    //     }
    // });

    // $(document).ready(function() {
    //     $('.retour').mouseover(function() {
    //         $('.textRetour').replaceWith('<img src="assets/images/left-arrow.svg" class="fleche" alt="">')
    //     })
    //     $('.retour').mouseleave(function() {
    //         $('.fleche').replaceWith('<p class="textRetour" >retour</p>')

    //     })
    // })

    // ////////// gallery

    // function magieImg(imgElem) {
    //     let img = imgElem.attr("data-img")
    //     $('#grande').attr("src", img).stop(true, true).hide().fadeIn(1500);
    // }

    // function magieImg2(imgElem) {
    //     let img = imgElem.attr("data-img")
    //     $('#grande2').attr("src", img).stop(true, true).hide().fadeIn(1500);
    // }
</script>
