@import "../config/colors";
@import "../config/fonts";

.modal-cont {
  position: relative;

  .pagination {
    position: absolute;
    width: 100%;
    top: 100%;
    display: flex;
    justify-content: center;
    i {
      padding: 10px;
      opacity: .7;
      cursor: pointer;
    }
    i:hover {
      opacity: 1;
    }
    .i-actif {
      opacity: 1;
    }
  }
  .carousel-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  
    
 
      .frame-carousel {
        width: 100%;
        height: 100%;
        background-color: darkgoldenrod;
        overflow-y: scroll;
        img {
          width: 100%;
        }
      }
  }
}
