@import "../config/colors";
@import "../config/fonts";


#myModalComponents, #myModalAnimations {
  .modal-cont {
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 350px 350px 350px; 
    column-gap: 20px;
    row-gap: 20px;
    overflow-y: scroll;
    border-bottom: 4px solid $black;
    .code-cards {
      background-color: $beige;
      border-radius: 50px 0 50px 0;
      overflow: hidden;
      box-shadow: 1px 1px $black;
      text-decoration: none;
      .img-cont {
        height: 70%;
        width: 100%;
        background-color: $green;
        opacity: .3;
      }
      .infos-cont {
        display: flex;
        height: 30%;
        width: 100%;
        padding: 20px;
        p {
          font-family: $cursive;
          font-size: 1.5em;
          color: $black;
        }
      }
    }
  }
  .code-cards:hover{
    box-shadow: 2px 2px $black;
  }
}


@media (min-width: 1200px) { 

}

@media (max-width: 1199.99px) and (min-width: 992px) { 
 
}

@media (max-width: 991.99px) and (min-width: 768px) { 
 
}

@media (max-width: 767.99px) { 
  #myModalComponents, #myModalAnimations {
    .modal-cont {
      grid-template-columns: 250px;
      grid-template-rows: 300px 300px 300px;
    }
  }
}
