// Import stylesheets

// Config
@import "config/colors";
@import "config/fonts";

// Components
@import url("../css/components/navbar.css");
@import url("../css/components/accueil.css");
@import url("../css/components/titles.css");
@import url("../css/components/img_video.css");
@import url("../css/components/footer.css");
@import url("../css/components/card.css");
@import url("../css/components/modal.css");
@import url("../css/components/carousel.css");
@import url("../css/components/code_cards.css");




//Pages
@import url("../css/pages/main.css");
// @import url("../css/pages/chill-swell.css");
// @import url("../css/pages/dauphinois.css");
// @import url("../css/pages/welina.css");
// @import url("../css/pages/code_1.css");
// @import url("../css/pages/graphics.css");

* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

 ::-webkit-scrollbar {
    background-color:$black;
    border: none;
    width: 10px;
}

 ::-webkit-scrollbar-track-piece {
    background-color:$black;
    border: none;
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background-color: $red;
    background-size: cover;
    border: none;
    width: 10px;
}

html {
    scrollbar-color: $red $black;
}
