 @import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
 @import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');
 /////////////////    font-family: 'Oswald', sans-serif;
 /////////////////    font-family: 'Crimson Pro', serif;
 /////////////////   font-family: 'Playfair Display', serif;
 //////////////////////////////
 * {
     padding: 0;
     margin: 0;
 }
 
 ::-webkit-scrollbar {
     background-color: #efe8e1;
     border: none;
     width: 10px;
 }
 
 ::-webkit-scrollbar-track-piece {
     background-color: #efe8e1;
     border: none;
     width: 10px;
 }
 
 ::-webkit-scrollbar-thumb {
     background-color: black;
     background-size: cover;
     border: none;
     border-radius: 10px;
     width: 10px;
 }
 
 ////////// RETOUR
 nav {
     padding: 0 !important;
     position: fixed;
     z-index: 99;
     .navBar {
         width: 100%;
         height: 50px;
         background-color: #efe8e1;
         display: flex;
         align-items: center;
         .retour {
             display: flex;
             align-items: center;
             text-decoration: none;
             width: 60px;
             height: 40px;
             position: absolute;
             left: 20px;
             font-family: "oswald", sans-serif;
             font-size: 20px;
             font-weight: 300;
             z-index: 2;
             transition: 0.3s ease-in-out;
             p {
                 color: black;
                 text-decoration: none;
                 margin: 0;
             }
         }
         .fleche {
             height: 30px;
             width: auto;
             animation: bounce 0.5s ease alternate infinite;
             @keyframes bounce {
                 from {
                     transform: translateX(40px);
                 }
                 to {
                     transform: translateX(0px);
                 }
             }
         }
     }
 }
 
 //////// GALLERY
 main {
     background-color: #efe8e1;
     width: 99.4vw;
     height: 100%;
     .titreGraphics {
         .row {
             justify-content: center;
             img {
                 width: 70vh;
                 height: auto;
                 margin-top: 70px;
             }
         }
     }
     @media screen and (max-width: 991px) {
         .titreGraphics {
             .row {
                 padding: 0 10% 0 10%;
                 img {
                     width: 100%;
                     height: auto;
                 }
             }
         }
     }
     .container {
         .galleryDiv {
             height: auto;
             background-color: #efe8e1;
             padding: 0;
             margin-bottom: 45px;
             margin-top: 70px;
             .titre {
                 padding-top: 10%;
                 h1 {
                     font-family: 'Oswald', sans-serif;
                     font-size: 40px;
                 }
                 .hr {
                     height: 3px;
                     width: 100%;
                     margin: 20px 0 20px 0;
                     background-color: black;
                 }
                 .gallery {
                     width: 100%;
                     .row {
                         width: 200px;
                         img {
                             transform: rotate(-45deg);
                             height: 50px;
                             width: 50px;
                             margin-top: 20px;
                             cursor: pointer;
                         }
                         img:hover {
                             transform: rotate(-45deg) scale(1.37);
                             z-index: 99;
                             transition: 0.3s ease-in-out;
                         }
                     }
                 }
             }
             .titre2 {
                 padding-top: 10%;
                 text-align: right;
                 h1 {
                     font-family: 'Oswald', sans-serif;
                     font-size: 40px;
                 }
                 .hr {
                     height: 3px;
                     width: 100%;
                     margin: 20px 0 20px 0;
                     background-color: black;
                 }
                 .gallery {
                     width: 100%;
                     .row {
                         width: 200px;
                         img {
                             transform: rotate(-45deg);
                             height: 50px;
                             width: 50px;
                             margin-top: 20px;
                             cursor: pointer;
                         }
                         img:hover {
                             transform: rotate(-45deg) scale(1.37);
                             z-index: 99;
                             transition: 0.3s ease-in-out;
                         }
                     }
                 }
             }
             .content {
                 .image {
                     max-width: auto;
                     max-height: 100%;
                     img {
                         margin-top: 40px;
                         height: auto;
                         width: 100%;
                     }
                 }
             }
         }
         @media screen and (max-width: 991px) {
             .galleryDiv {
                 flex-direction: column;
                 padding: 0 15px 0 15px;
                 .titre {
                     .gallery {
                         padding: 0 5% 0 5% !important;
                         .row {
                             width: 105px !important;
                         }
                     }
                 }
                 .titre2 {
                     .gallery {
                         padding: 0 5% 0 5% !important;
                         .row {
                             width: 105px !important;
                         }
                     }
                 }
             }
         }
     }
     ////// SECTION 9 FOOTER
     footer {
         height: 50px;
         background-color: black;
         p,
         a {
             color: #efe8e1;
             text-align: center;
             font-family: 'Crimson Pro', serif;
             font-size: 14px;
             text-decoration: #efe8e1;
             margin: 0;
         }
         a:hover {
             color: #efe8e1;
         }
     }
     @media screen and (max-width: 991px) {
         footer {
             height: 130px;
             display: flex;
             flex-direction: column;
             .pf {
                 display: none;
             }
         }
     }
 }