.section-projets {
  margin-top: 500px;
  .row-projets {
    height: 2000px;
    .title-projets {
      height: 100%;
      // background-color: lightcoral;
      text-align: right;
      position: relative;
      h2 {
        display: inline-block;
        transform-origin: left top;
        transform: rotate(-90deg);
        font-family: 'Slang';
        font-size: 10em;
        color: #A7C0F2;
        position: absolute;
        top: 0;
        right: 30%;
      }
      h2:before {
        content: "Web";
        font-family: 'Sofia', cursive;
        font-size: 0.2em;
        color: #40303C;
        display: inline-block;
        -webkit-transform: rotate(90deg translate(150px, 285px));
        -moz-transform: rotate(90deg translate(150px, 285px));
        -o-transform: rotate(90deg translate(150px, 285px));
        -ms-transform: rotate(90deg translate(150px, 285px));
        transform: rotate(90deg) translate(150px, 285px);
      }
    }
    .list-projets {
      margin-top: -335px;
      .projetWeb {
        width: 100%;
        height: 600px;
        flex-direction: row;
        margin: 0 0 85px 0;
        .image-projet1 {
            padding: 0;
            width: 350px;
            height: 600px;
            position: relative;
            img {
                height: 600px;
                z-index: 2;
                position: absolute;
                transition: 0.3s ease-in-out;
            }
            video {
                object-fit: cover;
                z-index: 1;
            }
        }
        .text-projet {
          z-index: 66;
          text-align: end;
          padding-top: 48px;
          height: 600px;
          h3 {
            font-family: 'Slang';
            font-size: 4em;
            color: #40303C;
            z-index: 0;
          }
          .hr {
            height: 3px;
            width: 130%;
            margin: -10px 0 0 -30%;
            background-color: #40303C;
          }
          .p1 {
                font-family: 'Sofia', cursive;
                color: #40303C;
                font-size: 1.8em;
                font-weight: 600;
                margin-bottom: 0;
                padding-bottom: 16px;
                padding-top: 5px;
                background-color: #F2EFE9;
                z-index: 99;
              }
          .p2 {
            font-family: 'Crimson Pro', serif;
            color: #40303C;
            font-size: 16px;
            margin-bottom: 28%;
          }
          .oeuil {
            height: 100px;
            width: 100px;
            margin-left: 40px;
            position: relative;
            .img1 {
              object-fit: cover;
              display: block;
              position: absolute;
            }
            .img2 {
              object-fit: cover;
              display: none;
              position: absolute;
            }
          }
          .oeuil:hover {
            .img2 {
              display: block;
            }
          }
        }
        #welina {
          text-align: start;
          .hr {
            margin: -10px 0 0 0;
          }
          .oeuil {
            margin-right: 40px;
          }
        }
      }
      .projetWeb:hover {
        .image-projet1 img {
            opacity: 0;
        }
      }
    }
  }
}

.section-board {
  background-color: #3FB376;
  margin-top: -280px;
  .container {
    height: 500px;
    h2 {
      font-family: 'Slang';
      color: #F2CED8;
      font-size: 20em;
    }
  }
}
