@import "../config/colors";
@import "../config/fonts";
//GENERAL

body {
  overflow-x: hidden;
  background-color: $beige !important;
}
main {
  scroll-behavior: smooth;
}


////SECTIONS

.section-container {
  position: relative;
  z-index: 4;
  padding: 100px 0 !important;
  .row-section {
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .section-title {
      padding: 0 !important;
    }
    .section-content {
      padding: 0 !important;
    }
  }
  .row-section-reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 991.99px) {
  .section-container {
    padding: 50px 0 !important;
  }
}


/////////////////////////////////////////////


.section-cv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw;
  margin-top: -200px !important;

  .img-content {
    width: 40%;
    height: 100vh;
    img {
      width: 100%;
    }
  }

  .cv-content {
    height: 80vh;
    margin-top: -80vh;

    .row-section {
      height: 100%;
      .section-cont {
        height: 100%;
          display: inline-flex;
          flex-direction: column;
          height: 50%;
          .img-cont {
            display: flex;
            align-items: center;
            margin-top: 50px;
            img {
              width: 200px;
              height: auto;
            }
          }
          .p-cont {
            color: $black;
            padding: 20px 0;
            font-family: $serif;
            font-size: 1.5em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            p {
              margin-bottom: 0 !important;
            }
            span {
              font-weight: 900;
              color: $red;
            }
          }
          
        .link-cv {
          display: inline;
          a {
            font-family: $cursive;
            font-size: 1.5em;
            border: none;
            position: relative;
            width: 100% !important;
            margin-bottom: 0 !important;
            color: $black;
            text-decoration: none;
          }
          a:after, a:before {
            content: "";
            width: 60%;
            height: 30px;
            background-color: $pink;
            position: absolute;
            z-index: -1;
            transform-origin: center;
            bottom: -5%;
            transform: scaleX(0);
            transition: 0.3s ease-in-out;
          }
          a:before {
            border-radius: 0 5px 5px 0;
            transform-origin: left;
            left: 49%;
          }
          a:after {
            border-radius: 5px 0 0 5px;
            transform-origin: right;
            right: 49%;
          }
          a:hover:before, a:hover:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1300px) { 
  .section-cv {
    margin-bottom: 100px !important;
  }
  .form {
    height: 700px !important;
  }
}

  @media (max-width: 1199.99px) and (min-width: 992px) { 
    .section-cv {
      margin-top: -100px !important;
      height: 800px !important;
      .img-content {
        width: 50%;
      }
    }
    .section-contact {
      height: 640px !important;
      .form {
        height: 680px !important;
      }
    }
  }
  
   @media (max-width: 991.99px) and (min-width: 768px) { 
    .section-cv {
      margin-top: 0 !important;
      .img-content {
        width: 70%;
      }
    }
    .cv-content {
      margin-top: -95vh !important;
      height: 120vh !important;
    }
    .contact {
      height: 500px !important;
    }
    .section-contact {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 767.99px) and (min-width: 576px) { 
    .section-cv {
      margin-top: 0 !important;
      .img-content {
        width: 100%;
      }
    }
    .cv-content {
      margin-top: -80vh !important;
      height: 120vh !important;
    }
    .contact {
      height: 400px !important;
    }
    .section-contact {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 575.98px) { 
    .section-cv {
      margin-top: 0 !important;
      .img-content {
        width: 120%;
      }
    }
    .cv-content {
      margin-top: -85vh !important;
      height: 190vh !important;
    }
    .contact {
      height: 530px !important;
    }
    .section-contact {
      margin-top: 50px;
      .form {
        height: 530px !important;
        width: 100vw !important;
      }
      form {
        width: 100% !important;
        div {
          width: 100% !important;
        }
      }
      input, textarea {
        width: 100% !important;
      }
      textarea {
        height: 100px !important;
      }
    }
  }



//////////////////////////////////////////



.section-text-anim {
  width: 100vw;
  .strip-text {
    width: 100vw;
    .text-content {
      width: 100%;
      height: 130px;
      position: relative;
      svg {
        position: relative;
        width: 100vw !important;
        height: 100%;
        font-size: 10em;
        font-family: $sans-serif;
        
      }
      .strip-one #s-text text{
        transform-origin: top left;
        position: absolute;
        left: 100px;
        
        
      }
      .strip-two {

      }
    }
  }
}


$colors: $red, $pink, $red, $pink, $blue;
$max: 5;
$dash: 70;
$dash-gap: 0;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;



.text {
  width: 100vw !important;
  fill: none;
  stroke-width: 3;
  stroke-linejoin: none;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}



.contact {
  width: 100%;
  height: 75vh;
  margin-bottom: 0 !important;
  p {
    font-family: $serif;
    font-size: 1.5em;
  }
  .name {
    font-size: 3em;
    color: $black;
  }
  span {
    font-weight: 900;
  }
}
.form {
  width: 100%;
  height: 75vh;
  // background-color: burlywood;
}


/////////////////////////////////


.form {
  padding: 50px;
  display: flex;
  justify-content: center;
  .error, .succes {
    font-family: $serif;
    background-color: rgba(217, 61, 89, .5);
    padding: 5px 15px;
    border-radius: 0 5px 0 5px;
    width: 100%;
    margin-bottom: 30px;
  }
  .succes {
    background-color: rgba(63, 179, 118, .5);
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input, textarea {
      width: 360px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $black;
      margin-bottom: 30px;
      font-family: $serif;
      font-size: 1em;
      color: $black;
      padding: 5px 10px;
    }
    textarea {
      height: 200px;
    }
    input:focus, textarea:focus {
      outline: none;
      border-bottom: 2px solid $green;
    }
    input::placeholder, textarea::placeholder {
      color: rgba(64, 48, 60, .5);
    }
    .btn-sub {
      width: 50%;
      position: relative;
      .envoyer {
        font-family: $cursive;
        font-size: 1.5em;
        border: none;
        position: relative;
        width: 100% !important;
        margin-bottom: 0 !important;
      }
    }
    .btn-sub:after, .btn-sub:before {
      content: "";
      width: 30%;
      height: 30px;
      background-color: $pink;
      position: absolute;
      z-index: -1;
      transform-origin: center;
      bottom: -5%;
      transform: scaleX(0);
      transition: 0.3s ease-in-out;
    }
    .btn-sub:before {
      border-radius: 0 5px 5px 0;
      transform-origin: left;
      left: 49%;
    }
    .btn-sub:after {
      border-radius: 5px 0 0 5px;
      transform-origin: right;
      right: 49%;
    }
    .btn-sub:hover:before, .btn-sub:hover:after {
      transform: scaleX(1);
    }
    
  }
  
}
